:root {
  --primary-color: #757575;
  --title-text-color: #212121;
  --logo-text-color: #000000;
  --accent-color: #2196f3;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #ffffff;
  color: var(--primary-color);
}

.logo {
  color: var(--logo-text-color);
}

.logo-color {
  color: var(--accent-color);
}

.site-nav a {
  color: var(--title-text-color);
}

.address-nav a {
  color: var(--primary-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.address-nav .link:hover,
.address-nav .link:focus {
  color: var(--accent-color);
}

.black {
  color: var(--title-text-color);
}
